@{
    ViewBag.Title = "Acceso denegado";
}
<h2 class="text-primary">@ViewBag.Title.</h2>
<h3 class="text-farinter">@ViewBag.Message</h3>


<div class="container">
    <img src="@Url.Content("~/Images/403.png")" class="img-fluid center" alt="acceso denegado" />
</div>



