
@{
    ViewBag.Title = "Requisa Terminada";
}

@*<h2>@ViewBag.Title</h2>

    <p>Se ha procesado con éxito, en breve el administrador revisará su requisa para dar el visto bueno</p>*@
<style>
    .swal-text {
        font-size: 16px;
        position: relative;
        float: none;
        line-height: normal;
        vertical-align: top;
        text-align: center !important;
        display: inline-block;
        margin: 0;
        padding: 0 10px;
        font-weight: 400;
        color: rgba(0,0,0,.64);
        max-width: calc(100% - 20px);
        overflow-wrap: break-word;
        box-sizing: border-box;
    }
</style>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {
            swal({
                title: "¡Requisa Finalizada!",
                text: "Se ha procesado con éxito, en breve el administrador revisará su requisa para dar el visto bueno.",
                icon: "success", //built in icons: success, warning, error, info
             });
            $(".swal-button").click(function () {
                window.location.href = "/VSP_Sociedades_Centros_Almacenes/Index";
            })
        });
    </script>

    }